.lottery {
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  margin: 50px;
  font-size: 20px;
}

@keyframes openCard {
  0% {
    transform: rotateY(0deg)
  }
  100% {
    transform: rotateY(180deg)
  }
}

@keyframes closeCard {
  0% {
    transform: rotateY(180deg)
  }
  100% {
    transform: rotateY(0deg)
  }
}

.cardItem {
  position: absolute;
  width: 100%;
  padding-bottom: 50%;
  padding-top: 50%;
  height: 0;
  line-height: 0;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.front {
  transform: rotateY(0deg);
  background: red;
}

.back {
  transform: rotateY(180deg);
  background: blue;
}

.card {
  position: relative;
  margin: 1%;
  width: 30%;
  text-align: center;
  color: #FFF;
}

.open {
  .front {
    animation: openCard 1s;
    animation-fill-mode: forwards;
  }

  .back {
    animation: closeCard 1s;
    animation-fill-mode: forwards;
  }
}

.action {
  text-align: center;
}
